* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.resume-container {
  width: 100%;
}

.sub-container {
  margin: 0 auto;
  max-width: 1020px;
  background-color: white;
}

.section-container {
  padding: 2%;
}

.title-banner {
  margin-bottom: 5%;
  padding: 5%;
  background-color: #091A26;
}

.heading-text-container {}

.heading-container {
  display: flex;
  align-items: center;
  padding-left: 2.5%;
}

.resume-heading {
  font-size: 6em;
  font-weight: 700;
  color: white;
}

.headshot-container {
  margin: auto;
}

.headshot-resume {
  float: right;
  width: 50%;
  border-radius: 50%;
}

.section-header-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0px 40px 40px;
}

.section-heading {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #091A26;
  font-weight: 600;
}

.section-content-container {
  padding: 40px 40px 40px 0px;
}

.section-text {
  min-width: 200px;
  color: #091A26;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.66px;
  padding-left: 40px;
}

.section-text a {
  padding: 0;
}

.description {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.section-subheading {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #091A26;
}

.place {
  color: #091A26;
  font-size: 15px;
}

.h4-size {
  color: #627077;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 300;
}

.button-container {
  text-decoration: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 70px;
}

.button-container a {
  text-decoration: none;
}

.resume-button {
  background-color: #EE455A;
  color: white;
  margin: 10px 0px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  width: 18vw;
  font-size: 16px;
  letter-spacing: 2px;
  height: 7vh;
  line-height: 7vh;
  border-radius: 2px;
}

.resume-button:hover {
  background-color: transparent;
  color: #EE455A;
}

.resume-button:active {
  background-color: #EE455A;
}

.footer-resume {
  border-top: 1px solid #c0c0c0;
  padding: 30px 0px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-resume a {
  text-decoration: none;
  color: #091A26;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.66px;
}

.footer-resume a:hover {
  font-weight: bold;
}

.row {
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  .section-header-container {
    padding: 40px 20px 20px 20px;
    border-bottom: 2px solid rgba(98, 112, 119, 0.3);
  }
  .section-content-container {
    padding: 20px 40px 40px 40px;
  }
  .section-text {
    padding: 0 20px 0 0;
  }
  .section-heading {
    color: #091A26;
  }
  .resume-heading {
    font-size: 2em;
  }
  .headshot-resume {
    position: relative;
    left: 30%;
    max-width: 30%;
    float: none;
  }
  .headshot-container {
    padding: 20px;
  }
  .heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-container {
    padding: 40px;
  }
  .resume-button {
    font-size: 12px;
    width: 55vw;
    height: 7vh;
  }
  .footer-resume {
    padding: 20px 15px;
  }
  .footer-resume a {
    font-size: 11px;
  }
}
