* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
}

.title-banner {
  padding: 50px;
}

.heading-text-container {}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-heading {
  font-size: 100px;
  font-weight: 700;
  color: #091A26;
}

.headshot-container {}

.headshot-resume {
  float: right;
  width: 50%;
  border-radius: 50%;
}

.section-header-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0px 40px 40px;
}

.section-heading {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #091A26;
  font-weight: 600;
}

.section-content-container {
  padding: 40px 40px 40px 0px;
}

.section-text {
  color: #091A26;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.66px;
  padding-left: 40px;
}

.section-text a {
  padding: 0;
}

.description {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.section-subheading {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #091A26;
}

.place {
  color: #091A26;
  font-size: 15px;
}

.h4-size {
  color: #627077;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 300;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.footer a {}

hr {
  width: 2px;
  size: 500px;
}

.row {
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
