:root {
  --accent-color: #F1C40F;
  --secondary-yellow-color: #91640F;
  --link-color: #0E0E0E;
    --color: rgb(5, 5, 5);
    --background-color: rgb(250, 250, 250);
  }
body {
  color: var(--color);
  background-color: var(--background-color);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Karla", sans-serif;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
.header-text img {
  width: 22px;
  height: 22px;
}
/* NAVIGATION */
nav {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background: var(--background-color);
  display: flex;
  justify-content: center;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: var(--accent-color);
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.yellow-bg {
  background-color: var(--accent-color);
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.chat-shape {
  background-color: #F1C40F;
}
.header-list img {
  opacity: 0.4;
  margin-right: 0.3rem;
}
.container-fluid {
  padding: 0;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
p {
  font-size: 22px;
}
.hero-container {
  /* margin-bottom: 3%; */
  margin-top: 3%;
  min-height: calc(90vh - 80px);
}
.memoji {
  width: 400px;
  height: 400px;
  margin: 40px 0px 60px;
}
.hero {
  width: 100%;
  margin: 4% auto 120px;
}
.row {
  margin: 0;
}
.portfolio,
.about {
  padding: 0px 0px 10% 0px;
}

.portfolio-box {
  border: 1px solid;
 h3 {
  color: var(--accent-color);
 }
 p {
  color: var(--link-color);
 }
}
.portfolio-item {
  position: relative;
  cursor: pointer;
  min-height: 100%;
}

.portfolio-item:hover .mask {
  opacity: 1;
}

.modal-image{
   margin: 0 auto;
}

.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 960px;
  margin: 0 auto 30px;
}
.heading {
  font-size: 1.4em;
  font-weight: 600;
  padding-bottom: 1%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.desc {
  line-height: 21px;
  font-size: 1.2em;
  color: #7a9cf4;
  font-weight: 200;
}

.laptop-wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}
.laptop-wrapper iframe {
    background: url(https://i.stack.imgur.com/zZNgk.png) center center no-repeat;
    background-size: contain;
    padding: 11.9% 15.5% 14.8%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.close {
  padding: 0;
  margin: 0;
  stroke: #1a0146;
  height: 50px;
  width: 50px;
  padding: 1%;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
}

.btn-default,
.btn-default:focus {
  padding: 1% 1.6%;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1a0146;
  background-color: var(--accent-color);
  transition: all 0.3s ease-in-out;
  border-radius: 1px;
  margin-top: 2%;
}

.btn-default:hover {
  cursor: pointer;
  user-select: none;
  color: var(--accent-color);
  background-color: var(--secondary-yellow-color);
}

.btn-default:active {
  position: relative;
  top: 10px;
}

.main-content {
  position: relative;
  z-index: 2;
}

.contacts {
  font-family: "Lato", sans-serif;
  min-height: 60%;
  height: 100%;
  padding-bottom:22px;
  background-color: #151515;
}

.sayhello {
  color: #8e8e8e;
  padding-top: 14%;
  font-size: 3em;
  font-weight: 300;
}
.sayhello::selection {
  background-color: #11cbdf;
  color: #151515;
}
.link {
  color: #7a9cf4;
}
.link:hover{
  text-decoration: none;
  color: #555;
}

.contact-text {
  font-weight: 400;
  padding-bottom: 4%;
  padding-top: 1%;
  letter-spacing: 0.3px;
}

.icon-wrapper {
  padding: 10px;
}
.icon-wrapper:hover {
  border: 1px solid #F1C40F;
}
.icon-wrapper svg {
  fill: #151515;
  opacity: 0.6;
}
.icon-wrapper:hover svg {
  opacity: 1;
}
.emailid {
  color: #151515;
  padding: 12px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.icons {
  display: flex;
  justify-content: flex-start;
  /* border: 3px dotted orange; */
}

.icon-item {
  width: 24px;
  height: 24px;
  padding: 12px;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}
.icon-item > svg {
  fill: #7f7f7f;
  transition: all 0.3s ease-in-out;
}

.footer {
  padding-top: 12%;
  background-color: #151515;
}
.handmade {
  font-size: 1.2em;
}

.handmade > span {
  cursor: pointer;
}
.handmade > span > a {
  color: #333;
}
.handmade > span > a:hover {
  text-decoration: none;
}
.tools {
  padding-bottom: 1%;
}

/* bigger screen */


/* smaller screen */

@media screen and (max-width: 768px) {

    .info-box {
      padding-bottom: 6%;
    }
    .right {
      padding: 0;
      border: none;
    }
    .left {
      padding: 0;
      border: none;
    }
    body {
      font-size: 14px;
    }
    .name,
    .hello {
      font-size: 2em;
      line-height: 26px;
    }

    .introtext {
      font-size: 1.4em;
    }
    .intro {
      padding-left: 10% 8% 0% 8%;
    }
    .modal-content {
      line-height: 2em;
    }
    .modal-text{
      font-size: 14px;
    }

}
