* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

.home {
  font-family: "Karla", sans-serif;
  width: 100%;
  /* min-height: 100vh; */
  height: 100vh;
  color: white;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  width: 100%;
  background: rgba(26, 1, 70, 0.8);
  overflow: hidden;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.nav-bar {
  color: white;
  background-color: transparent;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}


.name {
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
.name::selection {
  background-color: #11cbdf;
}

.intro-row {
  height: auto;
  padding: 0% 6%;
}

.muted-text {
  color: #00c8dd;
}
.hello {
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  /* background-color: #11cbdf; */
}

.muted-text::selection {
  background-color: #333;
}

.introtext {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 1px;
  /* color: #11cbdf; */
}

.introtext::selection {
  background-color: #00c8dd;
}

.title {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 35px;
  padding: 100px 0px 0px 0px;
}

.title::selection {
  background-color: #11cbdf;
}

.portfolio,
.about {
  padding: 0px 0px 10% 0px;
  background-color: white;
  /* border: 1px solid blue; */
}

.portfolio-item {
  position: relative;
  cursor: pointer;
  /* width: 10%; */
  min-height: 100%;
}

.portfolio-item:hover .mask {
  opacity: 1;
}

.modal-image{
   margin: 0 auto;
}

.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.the-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 960px;
  margin: 0 auto 30px;
}

.filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
}
.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease;
  background-color: rgba(26, 1, 70, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 0 8%;
  color: #fff;
  display: flex;
  text-align: center;
  letter-spacing: 0.2px;
}

.heading {
  font-size: 1.4em;
  font-weight: 600;
  padding-bottom: 1%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.desc {
  line-height: 21px;
  font-size: 1.2em;
  color: #7a9cf4;
  font-weight: 200;
}
.modal-body{
  padding: 1% 8%;
  /* border: 1px solid red; */

}
.modal-dialog {
  width: 100%;
  margin: 0;
  height: 100vh;
  color: #1a0146;
}
.modal-header {
  border: 0;
}
.modal-content {
  min-height: 100vh;
  height: auto;
  background-color: #fff;
  color: #333;
  border-radius: 0;
  margin: 0;
  line-height: 2.2rem;
}

.modal-title {
  font-family: "Karla", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: 2em 0px 0px 0px;
}

#myVideo {
  width: 100%;
}
.video-container {
  /* margin-top: 1%;  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  padding: 0;
  margin: 0;
  stroke: #1a0146;
  height: 50px;
  width: 50px;
  padding: 1%;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
}

.modal-subtitle {
  font-family: "Karla", sans-serif;
  margin: 0;
  color: #555;
  margin-top: 1em;
  margin-bottom: 0.2em;
  /* opacity: 0.6; */
  font-size: 1.2em;
  /* border: 1px solid red; */
}
.modal-text {
  font-family: "Karla", sans-serif;
  /* border: 1px solid blue; */
  font-weight: 300;
  margin: 0;
  color: #555;
  font-size: 18px;
}


.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}

.modal-footer {
  border: 0;
}

.plantcontainer {
  padding: 0;
  /* padding: 2% 0%; */
  /* border: 1px solid green; */

 }
 .plant-desc {
   /* border: 1px solid yellow; */
   padding: 0% 2%;
}
.planttext{
  font-size: 18px;
}
.side-content {
  padding: 0 2em;
}

.btn-default,
.btn-default:focus {
  padding: 1% 1.6%;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1a0146;
  border: 3px solid #00c8dd;
  background-color: #00c8dd;
  transition: all 0.3s ease-in-out;
  border-radius: 1px;
  margin-top: 2%;
}

.btn-default:hover {
  cursor: pointer;
  user-select: none;
  color: #1a0146;
  background-color: transparent;
  border: 3px solid #00c8dd;
}

.btn-default:active {
  position: relative;
  top: 10px;
}

.about {
  background-color: #fff;
  height: auto;
  color: #333;
  padding: 0% 18% 6% 18%;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headshot-box {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  /* border: 1px solid red; */
  margin-bottom: 1%;
}

.headshot {
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.headshot img {
  display: block;
  width: 100%;
}

.left {
  padding-right: 10%;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}
.right {
  padding-left: 10%;
}
.info-box {
  margin-top: 10%;
}

.info-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.2em;
  opacity: 0.4;
  letter-spacing: 1px;
  padding-left: 10%;
  padding-bottom: 0.5%;
  position: relative;
}

.info-title:after {
  content: "";
  display: block;
  width: 8%;
  height: 3px;
  background: #333;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 50%;
}

.info-desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  /* font-size: 1em; */
  /* line-height: 21px; */
}

.info-title::selection {
  background-color: #11cbdf;
}
.info-desc::selection {
  background-color: #11cbdf;
}

.main-content {
  position: relative;
  z-index: 2;
}

.contacts {
  font-family: "Lato", sans-serif;
  min-height: 60%;
  height: 100%;
  padding-bottom:22px;
  background-color: #151515;
}

.sayhello {
  color: #8e8e8e;
  padding-top: 14%;
  font-size: 3em;
  font-weight: 300;
}
.sayhello::selection {
  background-color: #11cbdf;
  color: #151515;
}
.link {
  color: #7a9cf4;
}
.link:hover{
  text-decoration: none;
  color: #555;
}

.contact-text {
  color: #8e8e8e;
  font-size: 1.2em;
  font-weight: 200;
  padding-bottom: 4%;
  padding-top: 1%;
  letter-spacing: 0.3px;
}

.contact-text::selection {
  background-color: #11cbdf;
  color: #151515;
}
.emailid {
  color: #7a9cf4;
  font-weight: 200;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.emailid:hover {
  text-decoration: none;
  color: #fff;
}
.emailid::selection {
  background-color: #7a9cf4;
  color: #11cbdf;
}

.icons {
  display: flex;
  justify-content: flex-start;
  /* border: 3px dotted orange; */
}

.icon-item {
  width: 30px;
  height: 30px;
  margin: 0 2%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon-item > svg {
  fill: #7f7f7f;
  transition: all 0.3s ease-in-out;
}
.icon-item > svg:hover {
  fill: #ffffff;
}

.footer {
  padding-top: 12%;
  background-color: #151515;
}
.handmade {
  font-size: 1.2em;
}

.handmade > span {
  cursor: pointer;
}
.handmade > span > a {
  color: #333;
}
.handmade > span > a:hover {
  text-decoration: none;
}
.tools {
  padding-bottom: 1%;
}

/* bigger screen */


/* smaller screen */

@media screen and (max-width: 768px) {

    .info-box {
      padding-bottom: 6%;
    }
    .right {
      padding: 0;
      border: none;
    }
    .left {
      padding: 0;
      border: none;
    }
    body {
      font-size: 14px;
    }
    .name,
    .hello {
      font-size: 22px;
      line-height: 26px;
    }

    .introtext {
      font-size: 14px;
    }
    .intro {
      padding-left: 10% 8% 0% 8%;
    }
    .modal-content {
      line-height: 2em;
    }
    .modal-text{
      font-size: 14px;
    }

}

/* @media screen and (max-width: 725px) {

  body {
    font-size: 16px;
  }

  .name,
  .hello {
    font-size: 20px;
    line-height: 26px;
  }

  .footer {
    font-size: 0.8em;
  }

  .introtext {
    font-size: 14px;
  }
  .intro {
    padding-top: 10% 8% 0% 8%;
  }
} */
