[submodule "projects/box-breathing"]
	path = projects/box-breathing
	url = https://github.com/joanithagomez/box-breathing
[submodule "projects/vault"]
	path = projects/vault
	url = https://github.com/joanithagomez/Vault-App.git
	branch = gh-pages
